body {
  font-family: "Montserrat", sans-serif;
  background-color: #EAEAEA;
  background-image: url("bg-img.jpg");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* navbar */
.logo {
  height: 48px;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

.nav-item {
  padding-right: 15px;
}

/* Login Section */
.head {
  background-color: #BAD1C2;
  margin: 50px 50px 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: #000 solid;
  border-bottom: none;
}

.heading {
  padding: 5px 0;
  margin-bottom: 0;
}

.middle {
  margin: 0 50px;
  border: #000 solid;
  border-bottom: none;
  border-top: none;
  background-color: #fff;
}

.login-img {
  height: 180px;
  margin: 50px;
  float: left;
}

.fill-form {
  margin-left: 300px;
  margin-right: 350px;
  padding: 25px 0;
}

.form-label {
  font-family: 'Montserrat', sans-serif;
}

.footer {
  background-color: #FFF8EA;
  margin: 0 50px 50px 50px;
  border: #000 solid;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.new-user {
  color: #2146C7;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.new-user:hover {
  color: #5DA7DB;
}

.id-img {
  position: absolute;
  top: 220px;
  left: 1025px;
  height: 200px;
  right: 100px;
}

.gear-img {
  margin: 0 5px;
}

.developer {
  float: left;
  padding-right: 30px;
}

/* Copywrite Section */
.copywrite {
  color: #FCE700;
  font-size: 1rem;
  background-color: #000;
  width: 20%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  border-color: #fff;
  border-style: solid;
  padding: 2px 0;
}

/* mobile view */
@media (max-width: 1000px) {
  body {
    text-align: center;
  }

  .login-img {
    margin: 10px;
    margin-top: 20px;
    float: none;
  }

  .fill-form {
    margin: 20px;
    margin-bottom: 0;
  }

  .btn {
    display: block;
    margin: auto;
  }

  .new-user {
    display: block;
  }

  .developer {
    text-align: center;
    float: none;
  }
}

@media (max-width: 1300px) {
  .id-img {
    visibility: hidden;
  }
}
